About 

> > Too many authors for a RFC unless the AD agrees
> 
> Authors>>
> 
> * [ ]  [Number of authors (RFC7322) #59](https://github.com/ietf-ccamp-wg/ietf-network-inventory/issues/59)
> 
> > 'To be added'  features 25 times, TBD 9 times, 'to be enriched' 4 times so there is plenty to do - perhaps more authors are needed!
> 
> Authors>>
> 
> * [x]  @YuChaode : review the document and check that all these issues are tracked in github
> * [ ]  [Rename model's name and and add some description #67](https://github.com/ietf-ccamp-wg/ietf-network-inventory/pull/67)
> 
> > I think that two letter prefixes should be avoided except for modules that will appear many times in path statements as e.g. te does
> 
> Authors>> The module name will be renamed as ietf-network-hardware-inventory to better match its scope so the prefix can be changed to nhi
> 
> * [x]   @YuChaode update the module name and prefix
> * [ ]  [Rename model's name and and add some description #67](https://github.com/ietf-ccamp-wg/ietf-network-inventory/pull/67)
> 
> > RFC6933 is in the module needs adding to I-D references
> 
> Authors>> Ok, agreed
> 
> * [x]   @YuChaode add RFC6933 as a normative reference
> * [ ]  [Rename model's name and and add some description #67](https://github.com/ietf-ccamp-wg/ietf-network-inventory/pull/67)
> 
> > import of inet lacks a reference
> 
> Authors>> Ok, agreed (the reference to be added is RFC6991)
> 
> * [x]  @YuChaode : add a reference to the inet import and add this as a normative reference to the document
> * [ ]  [Rename model's name and and add some description #67](https://github.com/ietf-ccamp-wg/ietf-network-inventory/pull/67)
> 
> > ianahw is, well an IANA web site so needs a URL as a reference.
> 
> Authors>>
> 
> * [x]  @italobusi check RFC8407 and, if needed, ask Netmod WG for input
> * [x]  See: [Tom Petch WG adoption poll comments #58 (comment)](https://github.com/ietf-ccamp-wg/ietf-network-inventory/issues/58#issuecomment-1380280374)
> * [ ]  [Rename model's name and and add some description #67](https://github.com/ietf-ccamp-wg/ietf-network-inventory/pull/67)
> 
> > revision clauses need to go at some point - perhaps this is an exercise to see if what the NETMOD WG is proposing is viable
> 
> Authors>> Ok, agreed
> 
> * [x]  @italobusi @YuChaode  fix the revision clauses
> * [ ]  [Rename model's name and and add some description #67](https://github.com/ietf-ccamp-wg/ietf-network-inventory/pull/67)
> 
> > lots of string with no constraint; given the prior art in SMI perhaps constraints similar to those of SMI would be appropriate.
> 
> Authors>>
> 
> * [x]  @italobusi check with Netmod WG for guidelines (start a new thread from previous discussion triggered by Tom)
> * [ ]  See: [Tom Petch WG adoption poll comments #58 (comment)](https://github.com/ietf-ccamp-wg/ietf-network-inventory/issues/58#issuecomment-1380280374)
> 
> > the tmforum web site tells me that the reference is to an old version of the asset
> 
> Authors>>
> 
> * [x]  @sergiobelotti check with TM Forum experts
> 
> See: https://mailarchive.ietf.org/arch/msg/ccamp/zD6gAfEUlYJ4W3qQlz6Y_gfX5TY/

Related to Tom Petch comment on TMF document
"the tmforum web site tells me that the reference is to an old version of the asset"
I checked with TMF expert and they told me that there is no new version of MTOSI after 4.0, so they have raised the issue to "member service" of TMF. But the important point is that the reference is correct, the problem is related to the TMF site maintenance.


**[2023-03-01 Network Inventory weekly call
](https://github.com/italobusi/ietf-network-inventory/blob/main/minutes/minutes-2023-03-01.md)**

> > > the tmforum web site tells me that the reference is to an old version of the asset
> > 
> > 
> > Authors>>
> > 
> > * [x]   @sergiobelotti check with TM Forum experts
> > 
> > See: https://mailarchive.ietf.org/arch/msg/ccamp/zD6gAfEUlYJ4W3qQlz6Y_gfX5TY/
> > for my AP:
> > Related to Tom Petch comment on TMF document
> > "the tmforum web site tells me that the reference is to an old version of the asset"
> > I checked with TMF expert and they told me that there is no new version of MTOSI after 4.0, so they have raised the issue to "member service" of TMF. But the important point is that the reference is correct, the problem is related to the TMF site maintenance.

Agreed reply:

> Based on offline check with TMF experts, the reference provided in the document is correct and there is no new version of MTOSI after 4.0. The issue seems related to the TMF site maintenance.


**[2023-03-08 Network Inventory weekly call](https://github.com/italobusi/ietf-network-inventory/blob/main/minutes/minutes-2023-03-08.md)**

> lots of string with no constraint; given the prior art in SMI perhaps constraints similar to those of SMI would be appropriate.
> 

Agreed reply:

> discussion on the CCAMP and Netmod WG mailing lists has indicated that some people have concerns but only when unconstrained strings are used as keys. The model is not using any unconstrained strings as keys, so no need to change.

- [ ] @YuChaode reply to the mail from Tom after uploading the -01 revision


All the comments have been addressed in [draft-ietf-ccamp-network-inventory-yang-02](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-network-inventory-yang-02)